html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}
canvas {
    display: block;
    background-color: white;
}
p {
    color: white;
    font-size: 30px;
}
.allign {
    display: flex;
    align-items: center;
    justify-content: center;
}
