html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}
canvas {
    display: block;
    background-color: white;
}
p {
    color: #fffa00;
    font-size: 30px;
}
.align {
    display: flex;
    align-items: center;
    justify-content: center;
}
p1 {
    color:white;
}
p2 {
    color: white;
    font-size: 45px;
}
p3 {
    color: #dddddd;
    font-size: 15;
}
